<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{42.088093°,-87.851561°}</string>
	<string>{42.088093°,-87.851446°}</string>
	<string>{42.088415°,-87.851446°}</string>
	<string>{42.088415°,-87.851643°}</string>
</array>
</plist>
