<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>374</key>
	<array>
		<string>370</string>
		<string>368</string>
		<string>068</string>
	</array>
	<key>370</key>
	<array>
		<string>374</string>
		<string>366</string>
		<string>368</string>
	</array>
	<key>368</key>
	<array>
		<string>374</string>
		<string>366</string>
	</array>
	<key>366</key>
	<array>
		<string>370</string>
		<string>368</string>
		<string>362</string>
		<string>001</string>
	</array>
	<key>362</key>
	<array>
		<string>001</string>
		<string>360</string>
	</array>
	<key>360</key>
	<array>
		<string>362</string>
		<string>066</string>
	</array>
	<key>333</key>
	<array>
		<string>002</string>
		<string>331</string>
	</array>
	<key>331</key>
	<array>
		<string>333</string>
		<string>033</string>
	</array>
	<key>332</key>
	<array>
		<string>331</string>
		<string>333</string>
	</array>
	<key>339</key>
	<array>
		<string>002</string>
		<string>341</string>
	</array>
	<key>340</key>
	<array>
		<string>341</string>
		<string>339</string>
		<string>345</string>
		<string>344</string>
	</array>
	<key>341</key>
	<array>
		<string>340</string>
		<string>339</string>
		<string>345</string>
		<string>344</string>
	</array>
	<key>344</key>
	<array>
		<string>345</string>
		<string>340</string>
		<string>341</string>
		<string>348</string>
		<string>349</string>
	</array>
	<key>345</key>
	<array>
		<string>344</string>
		<string>340</string>
		<string>341</string>
		<string>348</string>
		<string>349</string>
	</array>
	<key>349</key>
	<array>
		<string>348</string>
		<string>344</string>
		<string>345</string>
		<string>071</string>
	</array>
	<key>348</key>
	<array>
		<string>349</string>
		<string>345</string>
		<string>344</string>
		<string>071</string>
	</array>
	<key>312</key>
	<array>
		<string>004</string>
		<string>316</string>
	</array>
	<key>316</key>
	<array>
		<string>312</string>
		<string>320</string>
	</array>
	<key>320</key>
	<array>
		<string>316</string>
		<string>073</string>
	</array>
	<key>304</key>
	<array>
		<string>003</string>
		<string>031</string>
	</array>
	<key>554</key>
	<array>
		<string>055</string>
		<string>556</string>
	</array>
	<key>556</key>
	<array>
		<string>554</string>
	</array>
	<key>537</key>
	<array>
		<string>018</string>
		<string>006</string>
	</array>
	<key>548</key>
	<array>
		<string>055</string>
		<string>005</string>
	</array>
	<key>627</key>
	<array>
		<string>050</string>
		<string>035</string>
	</array>
	<key>625</key>
	<array>
		<string>007</string>
		<string>628</string>
		<string>051</string>
	</array>
	<key>628</key>
	<array>
		<string>625</string>
		<string>621</string>
		<string>626</string>
	</array>
	<key>621</key>
	<array>
		<string>628</string>
		<string>626</string>
	</array>
	<key>626</key>
	<array>
		<string>628</string>
		<string>624</string>
		<string>009</string>
		<string>621</string>
	</array>
	<key>616</key>
	<array>
		<string>013</string>
	</array>
	<key>620</key>
	<array>
		<string>009</string>
		<string>605</string>
		<string>603</string>
	</array>
	<key>624</key>
	<array>
		<string>009</string>
		<string>008</string>
	</array>
	<key>176</key>
	<array>
		<string>181</string>
		<string>011</string>
		<string>182</string>
	</array>
	<key>181</key>
	<array>
		<string>176</string>
		<string>182</string>
		<string>183</string>
	</array>
	<key>182</key>
	<array>
		<string>176</string>
		<string>184</string>
		<string>181</string>
	</array>
	<key>183</key>
	<array>
		<string>184</string>
		<string>012</string>
		<string>181</string>
	</array>
	<key>184</key>
	<array>
		<string>183</string>
		<string>182</string>
		<string>012</string>
	</array>
	<key>190</key>
	<array>
		<string>012</string>
		<string>191</string>
	</array>
	<key>191</key>
	<array>
		<string>190</string>
		<string>193</string>
		<string>012</string>
	</array>
	<key>193</key>
	<array>
		<string>191</string>
		<string>195</string>
		<string>190</string>
	</array>
	<key>194</key>
	<array>
		<string>190</string>
		<string>195</string>
	</array>
	<key>195</key>
	<array>
		<string>197</string>
		<string>193</string>
		<string>194</string>
	</array>
	<key>197</key>
	<array>
		<string>199</string>
		<string>195</string>
		<string>194</string>
	</array>
	<key>198</key>
	<array>
		<string>199</string>
		<string>194</string>
		<string>065</string>
	</array>
	<key>199</key>
	<array>
		<string>198</string>
		<string>197</string>
	</array>
	<key>141</key>
	<array>
		<string>142</string>
		<string>140</string>
	</array>
	<key>142</key>
	<array>
		<string>141</string>
		<string>014</string>
	</array>
	<key>140</key>
	<array>
		<string>141</string>
		<string>138</string>
	</array>
	<key>138</key>
	<array>
		<string>139</string>
		<string>140</string>
	</array>
	<key>139</key>
	<array>
		<string>138</string>
		<string>135</string>
	</array>
	<key>135</key>
	<array>
		<string>139</string>
		<string>133</string>
	</array>
	<key>133</key>
	<array>
		<string>016</string>
		<string>135</string>
	</array>
	<key>167</key>
	<array>
		<string>166</string>
		<string>165</string>
	</array>
	<key>166</key>
	<array>
		<string>011</string>
		<string>167</string>
	</array>
	<key>164</key>
	<array>
		<string>165</string>
		<string>163</string>
	</array>
	<key>162</key>
	<array>
		<string>163</string>
		<string>161</string>
	</array>
	<key>165</key>
	<array>
		<string>167</string>
		<string>164</string>
	</array>
	<key>163</key>
	<array>
		<string>164</string>
		<string>162</string>
	</array>
	<key>161</key>
	<array>
		<string>162</string>
		<string>021</string>
	</array>
	<key>151</key>
	<array>
		<string>014</string>
		<string>152</string>
		<string>153</string>
	</array>
	<key>152</key>
	<array>
		<string>014</string>
		<string>151</string>
		<string>154</string>
	</array>
	<key>153</key>
	<array>
		<string>154</string>
		<string>155</string>
		<string>151</string>
	</array>
	<key>154</key>
	<array>
		<string>156</string>
		<string>153</string>
		<string>152</string>
	</array>
	<key>155</key>
	<array>
		<string>153</string>
		<string>157</string>
		<string>156</string>
	</array>
	<key>156</key>
	<array>
		<string>158</string>
		<string>154</string>
		<string>155</string>
	</array>
	<key>157</key>
	<array>
		<string>159</string>
		<string>155</string>
		<string>158</string>
	</array>
	<key>158</key>
	<array>
		<string>160</string>
		<string>157</string>
		<string>156</string>
	</array>
	<key>159</key>
	<array>
		<string>160</string>
		<string>157</string>
		<string>061</string>
	</array>
	<key>160</key>
	<array>
		<string>159</string>
		<string>158</string>
		<string>061</string>
	</array>
	<key>120</key>
	<array>
		<string>119</string>
		<string>064</string>
	</array>
	<key>119</key>
	<array>
		<string>120</string>
		<string>118</string>
	</array>
	<key>118</key>
	<array>
		<string>119</string>
		<string>117</string>
	</array>
	<key>117</key>
	<array>
		<string>118</string>
		<string>116</string>
	</array>
	<key>116</key>
	<array>
		<string>117</string>
		<string>112</string>
	</array>
	<key>112</key>
	<array>
		<string>116</string>
		<string>111</string>
		<string>015</string>
	</array>
	<key>111</key>
	<array>
		<string>112</string>
		<string>110</string>
	</array>
	<key>110</key>
	<array>
		<string>111</string>
		<string>109</string>
	</array>
	<key>109</key>
	<array>
		<string>110</string>
		<string>108</string>
	</array>
	<key>108</key>
	<array>
		<string>109</string>
		<string>107</string>
	</array>
	<key>107</key>
	<array>
		<string>108</string>
		<string>103</string>
	</array>
	<key>103</key>
	<array>
		<string>107</string>
		<string>101</string>
	</array>
	<key>101</key>
	<array>
		<string>103</string>
		<string>100</string>
	</array>
	<key>100</key>
	<array>
		<string>101</string>
		<string>019</string>
	</array>
	<key>121</key>
	<array>
		<string>122</string>
		<string>059</string>
	</array>
	<key>801</key>
	<array>
		<string>020</string>
		<string>021</string>
	</array>
	<key>610</key>
	<array>
		<string>034</string>
		<string>607</string>
	</array>
	<key>607</key>
	<array>
		<string>610</string>
		<string>609</string>
	</array>
	<key>609</key>
	<array>
		<string>607</string>
	</array>
	<key>605</key>
	<array>
		<string>013</string>
		<string>620</string>
		<string>603</string>
	</array>
	<key>603</key>
	<array>
		<string>009</string>
		<string>605</string>
		<string>620</string>
	</array>
	<key>711</key>
	<array>
		<string>047</string>
	</array>
	<key>001</key>
	<array>
		<string>366</string>
		<string>362</string>
		<string>002</string>
	</array>
	<key>002</key>
	<array>
		<string>339</string>
		<string>333</string>
		<string>067</string>
	</array>
	<key>003</key>
	<array>
		<string>004</string>
		<string>304</string>
		<string>067</string>
	</array>
	<key>004</key>
	<array>
		<string>003</string>
		<string>312</string>
		<string>548</string>
	</array>
	<key>005</key>
	<array>
		<string>548</string>
		<string>006</string>
		<string>007</string>
		<string>050</string>
	</array>
	<key>006</key>
	<array>
		<string>007</string>
		<string>005</string>
		<string>537</string>
		<string>050</string>
	</array>
	<key>007</key>
	<array>
		<string>006</string>
		<string>005</string>
		<string>625</string>
		<string>050</string>
		<string>051</string>
	</array>
	<key>008</key>
	<array>
		<string>009</string>
		<string>010</string>
		<string>600</string>
	</array>
	<key>009</key>
	<array>
		<string>626</string>
		<string>624</string>
		<string>008</string>
		<string>620</string>
	</array>
	<key>010</key>
	<array>
		<string>008</string>
		<string>011</string>
		<string>022</string>
	</array>
	<key>011</key>
	<array>
		<string>176</string>
		<string>166</string>
		<string>076</string>
		<string>010</string>
	</array>
	<key>012</key>
	<array>
		<string>190</string>
		<string>191</string>
		<string>184</string>
		<string>183</string>
		<string>014</string>
	</array>
	<key>013</key>
	<array>
		<string>620</string>
		<string>616</string>
		<string>605</string>
	</array>
	<key>014</key>
	<array>
		<string>151</string>
		<string>152</string>
		<string>012</string>
		<string>015</string>
		<string>142</string>
	</array>
	<key>015</key>
	<array>
		<string>112</string>
		<string>014</string>
		<string>116</string>
	</array>
	<key>016</key>
	<array>
		<string>017</string>
		<string>076</string>
		<string>127</string>
		<string>133</string>
	</array>
	<key>017</key>
	<array>
		<string>103</string>
		<string>107</string>
	</array>
	<key>018</key>
	<array>
		<string>537</string>
	</array>
	<key>019</key>
	<array>
		<string>020</string>
		<string>100</string>
	</array>
	<key>020</key>
	<array>
		<string>019</string>
		<string>121</string>
		<string>801</string>
	</array>
	<key>021</key>
	<array>
		<string>801</string>
		<string>022</string>
		<string>161</string>
	</array>
	<key>022</key>
	<array>
		<string>021</string>
		<string>023</string>
	</array>
	<key>023</key>
	<array>
		<string>024</string>
		<string>022</string>
	</array>
	<key>024</key>
	<array>
		<string>023</string>
		<string>025</string>
	</array>
	<key>025</key>
	<array>
		<string>026</string>
		<string>024</string>
	</array>
	<key>026</key>
	<array>
		<string>025</string>
		<string>027</string>
	</array>
	<key>027</key>
	<array>
		<string>026</string>
		<string>028</string>
	</array>
	<key>028</key>
	<array>
		<string>027</string>
		<string>029</string>
	</array>
	<key>029</key>
	<array>
		<string>028</string>
		<string>030</string>
	</array>
	<key>030</key>
	<array>
		<string>029</string>
		<string>031</string>
		<string>032</string>
	</array>
	<key>031</key>
	<array>
		<string>304</string>
		<string>030</string>
		<string>5011</string>
	</array>
	<key>032</key>
	<array>
		<string>030</string>
		<string>033</string>
	</array>
	<key>033</key>
	<array>
		<string>032</string>
		<string>331</string>
		<string>5013</string>
	</array>
	<key>034</key>
	<array>
		<string>013</string>
		<string>012</string>
		<string>610</string>
	</array>
	<key>035</key>
	<array>
		<string>627</string>
		<string>036</string>
		<string>037</string>
	</array>
	<key>036</key>
	<array>
		<string>035</string>
		<string>075</string>
	</array>
	<key>037</key>
	<array>
		<string>035</string>
		<string>038</string>
	</array>
	<key>038</key>
	<array>
		<string>037</string>
		<string>039</string>
	</array>
	<key>039</key>
	<array>
		<string>038</string>
		<string>040</string>
	</array>
	<key>040</key>
	<array>
		<string>039</string>
		<string>041</string>
	</array>
	<key>041</key>
	<array>
		<string>040</string>
		<string>042</string>
	</array>
	<key>042</key>
	<array>
		<string>041</string>
		<string>043</string>
	</array>
	<key>043</key>
	<array>
		<string>042</string>
		<string>044</string>
	</array>
	<key>044</key>
	<array>
		<string>045</string>
		<string>043</string>
	</array>
	<key>045</key>
	<array>
		<string>044</string>
		<string>046</string>
	</array>
	<key>046</key>
	<array>
		<string>047</string>
		<string>045</string>
	</array>
	<key>047</key>
	<array>
		<string>711</string>
		<string>048</string>
		<string>046</string>
	</array>
	<key>048</key>
	<array>
		<string>047</string>
		<string>049</string>
	</array>
	<key>049</key>
	<array>
		<string>713</string>
		<string>048</string>
		<string>742</string>
	</array>
	<key>050</key>
	<array>
		<string>627</string>
		<string>006</string>
		<string>005</string>
		<string>007</string>
	</array>
	<key>051</key>
	<array>
		<string>625</string>
		<string>007</string>
		<string>628</string>
		<string>663</string>
	</array>
	<key>052</key>
	<array>
		<string>660</string>
		<string>669</string>
		<string>054</string>
		<string>678</string>
		<string>680</string>
	</array>
	<key>053</key>
	<array>
		<string>665</string>
		<string>663</string>
		<string>660</string>
		<string>661</string>
	</array>
	<key>054</key>
	<array>
		<string>676</string>
		<string>678</string>
		<string>052</string>
	</array>
	<key>055</key>
	<array>
		<string>548</string>
		<string>554</string>
		<string>004</string>
	</array>
	<key>056</key>
	<array>
		<string>046</string>
		<string>057</string>
	</array>
	<key>057</key>
	<array>
		<string>056</string>
		<string>058</string>
	</array>
	<key>058</key>
	<array>
		<string>057</string>
		<string>720</string>
		<string>710</string>
	</array>
	<key>059</key>
	<array>
		<string>020</string>
		<string>5001</string>
		<string>121</string>
	</array>
	<key>060</key>
	<array>
		<string>5003</string>
		<string>021</string>
		<string>161</string>
	</array>
	<key>061</key>
	<array>
		<string>160</string>
		<string>159</string>
		<string>5007</string>
		<string>062</string>
	</array>
	<key>062</key>
	<array>
		<string>061</string>
		<string>063</string>
	</array>
	<key>063</key>
	<array>
		<string>062</string>
		<string>064</string>
	</array>
	<key>064</key>
	<array>
		<string>063</string>
		<string>120</string>
	</array>
	<key>065</key>
	<array>
		<string>198</string>
		<string>5009</string>
	</array>
	<key>066</key>
	<array>
		<string>360</string>
		<string>5015</string>
	</array>
	<key>067</key>
	<array>
		<string>002</string>
		<string>003</string>
		<string>5021</string>
	</array>
	<key>068</key>
	<array>
		<string>374</string>
		<string>069</string>
	</array>
	<key>069</key>
	<array>
		<string>068</string>
		<string>070</string>
	</array>
	<key>070</key>
	<array>
		<string>069</string>
		<string>072</string>
		<string>071</string>
	</array>
	<key>071</key>
	<array>
		<string>070</string>
		<string>072</string>
		<string>349</string>
		<string>348</string>
	</array>
	<key>072</key>
	<array>
		<string>070</string>
		<string>071</string>
		<string>5017</string>
	</array>
	<key>073</key>
	<array>
		<string>320</string>
		<string>074</string>
	</array>
	<key>074</key>
	<array>
		<string>073</string>
		<string>5019</string>
	</array>
	<key>075</key>
	<array>
		<string>036</string>
		<string>Main Gym</string>
	</array>
	<key>076</key>
	<array>
		<string>016</string>
		<string>011</string>
		<string>5005</string>
	</array>
	<key>713</key>
	<array>
		<string>049</string>
		<string>715</string>
	</array>
	<key>715</key>
	<array>
		<string>713</string>
		<string>717</string>
	</array>
	<key>717</key>
	<array>
		<string>712</string>
		<string>715</string>
	</array>
	<key>712</key>
	<array>
		<string>717</string>
		<string>714</string>
	</array>
	<key>714</key>
	<array>
		<string>742</string>
		<string>712</string>
	</array>
	<key>742</key>
	<array>
		<string>714</string>
		<string>049</string>
		<string>West Gym</string>
	</array>
	<key>710</key>
	<array>
		<string>058</string>
		<string>720</string>
	</array>
	<key>720</key>
	<array>
		<string>058</string>
		<string>710</string>
		<string>Fieldhouse</string>
	</array>
	<key>600</key>
	<array>
		<string>008</string>
	</array>
	<key>660</key>
	<array>
		<string>667</string>
		<string>052</string>
		<string>053</string>
	</array>
	<key>665</key>
	<array>
		<string>053</string>
	</array>
	<key>663</key>
	<array>
		<string>051</string>
		<string>053</string>
	</array>
	<key>667</key>
	<array>
		<string>660</string>
		<string>669</string>
		<string>665</string>
	</array>
	<key>669</key>
	<array>
		<string>667</string>
		<string>052</string>
		<string>676</string>
	</array>
	<key>661</key>
	<array>
		<string>053</string>
	</array>
	<key>676</key>
	<array>
		<string>669</string>
		<string>054</string>
	</array>
	<key>678</key>
	<array>
		<string>054</string>
		<string>052</string>
	</array>
	<key>680</key>
	<array>
		<string>052</string>
	</array>
	<key>682</key>
	<array>
		<string>052</string>
	</array>
	<key>690</key>
	<array>
		<string>052</string>
	</array>
	<key>122</key>
	<array>
		<string>121</string>
		<string>124</string>
	</array>
	<key>123</key>
	<array>
		<string>124</string>
		<string>128</string>
	</array>
	<key>124</key>
	<array>
		<string>123</string>
		<string>122</string>
	</array>
	<key>128</key>
	<array>
		<string>127</string>
		<string>123</string>
	</array>
	<key>127</key>
	<array>
		<string>128</string>
		<string>016</string>
	</array>
	<key>5001</key>
	<array>
		<string>059</string>
		<string>5002</string>
	</array>
	<key>5002</key>
	<array>
		<string>5001</string>
		<string>1001</string>
	</array>
	<key>5003</key>
	<array>
		<string>060</string>
		<string>5004</string>
	</array>
	<key>5004</key>
	<array>
		<string>1004</string>
		<string>5003</string>
	</array>
	<key>5005</key>
	<array>
		<string>076</string>
		<string>5006</string>
	</array>
	<key>5006</key>
	<array>
		<string>5005</string>
		<string>1034</string>
	</array>
	<key>5007</key>
	<array>
		<string>5008</string>
		<string>061</string>
	</array>
	<key>5008</key>
	<array>
		<string>5007</string>
		<string>1013</string>
	</array>
	<key>5009</key>
	<array>
		<string>065</string>
		<string>5010</string>
	</array>
	<key>5010</key>
	<array>
		<string>5009</string>
		<string>1014</string>
	</array>
	<key>5011</key>
	<array>
		<string>5012</string>
		<string>031</string>
	</array>
	<key>5013</key>
	<array>
		<string>033</string>
		<string>5014</string>
	</array>
	<key>5015</key>
	<array>
		<string>066</string>
		<string>5016</string>
	</array>
	<key>5017</key>
	<array>
		<string>072</string>
		<string>5018</string>
	</array>
	<key>5019</key>
	<array>
		<string>074</string>
		<string>5020</string>
	</array>
	<key>5021</key>
	<array>
		<string>067</string>
		<string>5022</string>
	</array>
	<key>5012</key>
	<array>
		<string>1018</string>
		<string>5011</string>
	</array>
	<key>5014</key>
	<array>
		<string>1020</string>
		<string>5013</string>
	</array>
	<key>5016</key>
	<array>
		<string>1023</string>
		<string>5015</string>
	</array>
	<key>5018</key>
	<array>
		<string>1032</string>
		<string>1033</string>
		<string>5017</string>
	</array>
	<key>5020</key>
	<array>
		<string>1028</string>
		<string>5019</string>
	</array>
	<key>5022</key>
	<array>
		<string>1021</string>
		<string>5021</string>
	</array>
	<key>1001</key>
	<array>
		<string>5002</string>
		<string>1002</string>
		<string>221</string>
	</array>
	<key>1002</key>
	<array>
		<string>1001</string>
		<string>222</string>
		<string>1005</string>
	</array>
	<key>1003</key>
	<array>
		<string>1004</string>
		<string>261</string>
		<string>400</string>
	</array>
	<key>1004</key>
	<array>
		<string>5004</string>
		<string>1003</string>
		<string>263</string>
	</array>
	<key>1005</key>
	<array>
		<string>1002</string>
		<string>200</string>
	</array>
	<key>1006</key>
	<array>
		<string>270</string>
		<string>268</string>
		<string>1034</string>
	</array>
	<key>1007</key>
	<array>
		<string>233</string>
		<string>230</string>
		<string>204</string>
		<string>1034</string>
	</array>
	<key>1009</key>
	<array>
		<string>244</string>
		<string>243</string>
		<string>239</string>
		<string>241</string>
	</array>
	<key>1010</key>
	<array>
		<string>1011</string>
		<string>214</string>
	</array>
	<key>1011</key>
	<array>
		<string>1010</string>
		<string>1012</string>
	</array>
	<key>1012</key>
	<array>
		<string>1013</string>
		<string>1011</string>
	</array>
	<key>1013</key>
	<array>
		<string>1012</string>
		<string>5008</string>
		<string>251</string>
	</array>
	<key>1014</key>
	<array>
		<string>5010</string>
		<string>288</string>
		<string>289</string>
	</array>
	<key>1015</key>
	<array>
		<string>280</string>
		<string>244</string>
		<string>278</string>
	</array>
	<key>1016</key>
	<array>
		<string>404</string>
		<string>1017</string>
	</array>
	<key>1017</key>
	<array>
		<string>1016</string>
		<string>408</string>
		<string>1018</string>
	</array>
	<key>1018</key>
	<array>
		<string>1017</string>
		<string>409</string>
		<string>5012</string>
	</array>
	<key>1019</key>
	<array>
		<string>439</string>
		<string>1020</string>
	</array>
	<key>1020</key>
	<array>
		<string>1019</string>
		<string>441</string>
		<string>5014</string>
	</array>
	<key>1021</key>
	<array>
		<string>417</string>
		<string>1025</string>
		<string>5022</string>
	</array>
	<key>1022</key>
	<array>
		<string>441</string>
		<string>470</string>
		<string>1023</string>
	</array>
	<key>1023</key>
	<array>
		<string>1022</string>
		<string>5016</string>
	</array>
	<key>1024</key>
	<array>
		<string>1025</string>
		<string>478</string>
		<string>476</string>
	</array>
	<key>1025</key>
	<array>
		<string>1021</string>
		<string>448</string>
		<string>444</string>
		<string>1024</string>
	</array>
	<key>1026</key>
	<array>
		<string>457</string>
		<string>458</string>
		<string>1027</string>
	</array>
	<key>1027</key>
	<array>
		<string>430</string>
		<string>426</string>
		<string>1026</string>
	</array>
	<key>1028</key>
	<array>
		<string>432</string>
		<string>5020</string>
	</array>
	<key>1029</key>
	<array>
		<string>492</string>
		<string>1030</string>
	</array>
	<key>1030</key>
	<array>
		<string>1031</string>
		<string>1029</string>
	</array>
	<key>1031</key>
	<array>
		<string>1030</string>
		<string>1032</string>
	</array>
	<key>1032</key>
	<array>
		<string>1031</string>
		<string>5018</string>
		<string>1033</string>
	</array>
	<key>1033</key>
	<array>
		<string>1032</string>
		<string>5018</string>
		<string>463</string>
		<string>462</string>
	</array>
	<key>1034</key>
	<array>
		<string>1007</string>
		<string>1006</string>
		<string>5006</string>
	</array>
	<key>222</key>
	<array>
		<string>261</string>
		<string>1002</string>
	</array>
	<key>261</key>
	<array>
		<string>222</string>
		<string>1003</string>
	</array>
	<key>200</key>
	<array>
		<string>1005</string>
		<string>201</string>
	</array>
	<key>201</key>
	<array>
		<string>200</string>
		<string>202</string>
	</array>
	<key>202</key>
	<array>
		<string>201</string>
		<string>203</string>
	</array>
	<key>203</key>
	<array>
		<string>204</string>
		<string>202</string>
	</array>
	<key>204</key>
	<array>
		<string>203</string>
		<string>206</string>
		<string>1007</string>
	</array>
	<key>221</key>
	<array>
		<string>1001</string>
		<string>223</string>
		<string>224</string>
	</array>
	<key>224</key>
	<array>
		<string>221</string>
		<string>223</string>
	</array>
	<key>228</key>
	<array>
		<string>227</string>
		<string>230</string>
		<string>225</string>
	</array>
	<key>230</key>
	<array>
		<string>1007</string>
		<string>227</string>
		<string>228</string>
	</array>
	<key>223</key>
	<array>
		<string>221</string>
		<string>225</string>
	</array>
	<key>206</key>
	<array>
		<string>204</string>
		<string>207</string>
	</array>
	<key>260</key>
	<array>
		<string>264</string>
		<string>263</string>
	</array>
	<key>264</key>
	<array>
		<string>267</string>
		<string>260</string>
	</array>
	<key>266</key>
	<array>
		<string>267</string>
		<string>269</string>
	</array>
	<key>268</key>
	<array>
		<string>269</string>
		<string>1006</string>
	</array>
	<key>270</key>
	<array>
		<string>277</string>
		<string>1006</string>
	</array>
	<key>263</key>
	<array>
		<string>260</string>
		<string>1004</string>
	</array>
	<key>267</key>
	<array>
		<string>266</string>
		<string>264</string>
	</array>
	<key>269</key>
	<array>
		<string>268</string>
		<string>266</string>
	</array>
	<key>225</key>
	<array>
		<string>227</string>
		<string>228</string>
		<string>223</string>
	</array>
	<key>227</key>
	<array>
		<string>228</string>
		<string>230</string>
		<string>225</string>
	</array>
	<key>233</key>
	<array>
		<string>1007</string>
		<string>235</string>
	</array>
	<key>235</key>
	<array>
		<string>233</string>
		<string>238</string>
	</array>
	<key>241</key>
	<array>
		<string>1009</string>
		<string>239</string>
		<string>240</string>
	</array>
	<key>239</key>
	<array>
		<string>1009</string>
		<string>241</string>
		<string>240</string>
	</array>
	<key>243</key>
	<array>
		<string>1009</string>
		<string>245</string>
		<string>246</string>
	</array>
	<key>245</key>
	<array>
		<string>246</string>
		<string>243</string>
		<string>247</string>
		<string>248</string>
	</array>
	<key>238</key>
	<array>
		<string>240</string>
		<string>235</string>
	</array>
	<key>240</key>
	<array>
		<string>239</string>
		<string>241</string>
		<string>238</string>
	</array>
	<key>244</key>
	<array>
		<string>1009</string>
		<string>1015</string>
	</array>
	<key>246</key>
	<array>
		<string>245</string>
		<string>243</string>
		<string>247</string>
		<string>248</string>
	</array>
	<key>247</key>
	<array>
		<string>248</string>
		<string>245</string>
		<string>246</string>
		<string>249</string>
		<string>252</string>
	</array>
	<key>248</key>
	<array>
		<string>247</string>
		<string>245</string>
		<string>246</string>
		<string>249</string>
		<string>252</string>
	</array>
	<key>249</key>
	<array>
		<string>252</string>
		<string>251</string>
		<string>247</string>
		<string>248</string>
	</array>
	<key>252</key>
	<array>
		<string>249</string>
		<string>251</string>
		<string>247</string>
		<string>248</string>
	</array>
	<key>251</key>
	<array>
		<string>249</string>
		<string>252</string>
		<string>1013</string>
	</array>
	<key>207</key>
	<array>
		<string>208</string>
		<string>209</string>
		<string>206</string>
	</array>
	<key>208</key>
	<array>
		<string>209</string>
		<string>210</string>
		<string>207</string>
	</array>
	<key>209</key>
	<array>
		<string>208</string>
		<string>210</string>
		<string>207</string>
	</array>
	<key>210</key>
	<array>
		<string>208</string>
		<string>209</string>
		<string>212</string>
		<string>213</string>
	</array>
	<key>212</key>
	<array>
		<string>213</string>
		<string>214</string>
		<string>210</string>
	</array>
	<key>213</key>
	<array>
		<string>212</string>
		<string>214</string>
		<string>210</string>
	</array>
	<key>214</key>
	<array>
		<string>212</string>
		<string>213</string>
		<string>1010</string>
	</array>
	<key>288</key>
	<array>
		<string>1014</string>
		<string>289</string>
		<string>286</string>
	</array>
	<key>289</key>
	<array>
		<string>1014</string>
		<string>288</string>
		<string>286</string>
	</array>
	<key>286</key>
	<array>
		<string>288</string>
		<string>289</string>
		<string>285</string>
	</array>
	<key>285</key>
	<array>
		<string>286</string>
		<string>282</string>
		<string>283</string>
	</array>
	<key>282</key>
	<array>
		<string>283</string>
		<string>285</string>
		<string>280</string>
	</array>
	<key>283</key>
	<array>
		<string>282</string>
		<string>285</string>
		<string>280</string>
	</array>
	<key>280</key>
	<array>
		<string>1015</string>
		<string>282</string>
		<string>283</string>
	</array>
	<key>278</key>
	<array>
		<string>1015</string>
		<string>276</string>
	</array>
	<key>276</key>
	<array>
		<string>278</string>
		<string>279</string>
	</array>
	<key>279</key>
	<array>
		<string>276</string>
		<string>274</string>
	</array>
	<key>274</key>
	<array>
		<string>277</string>
		<string>279</string>
	</array>
	<key>277</key>
	<array>
		<string>274</string>
		<string>270</string>
	</array>
	<key>400</key>
	<array>
		<string>1003</string>
		<string>401</string>
	</array>
	<key>401</key>
	<array>
		<string>400</string>
		<string>402</string>
	</array>
	<key>402</key>
	<array>
		<string>401</string>
		<string>403</string>
	</array>
	<key>403</key>
	<array>
		<string>402</string>
		<string>404</string>
	</array>
	<key>404</key>
	<array>
		<string>403</string>
		<string>1016</string>
	</array>
	<key>408</key>
	<array>
		<string>1017</string>
		<string>439</string>
	</array>
	<key>439</key>
	<array>
		<string>408</string>
		<string>1019</string>
	</array>
	<key>409</key>
	<array>
		<string>1018</string>
		<string>410</string>
	</array>
	<key>410</key>
	<array>
		<string>409</string>
		<string>411</string>
	</array>
	<key>411</key>
	<array>
		<string>410</string>
		<string>412</string>
	</array>
	<key>412</key>
	<array>
		<string>414</string>
		<string>411</string>
	</array>
	<key>414</key>
	<array>
		<string>412</string>
		<string>417</string>
	</array>
	<key>417</key>
	<array>
		<string>1021</string>
		<string>414</string>
		<string>421</string>
	</array>
	<key>441</key>
	<array>
		<string>1020</string>
		<string>1022</string>
		<string>440</string>
	</array>
	<key>440</key>
	<array>
		<string>441</string>
		<string>443</string>
	</array>
	<key>443</key>
	<array>
		<string>440</string>
		<string>442</string>
	</array>
	<key>442</key>
	<array>
		<string>443</string>
		<string>444</string>
	</array>
	<key>444</key>
	<array>
		<string>442</string>
		<string>1025</string>
	</array>
	<key>470</key>
	<array>
		<string>1022</string>
		<string>472</string>
	</array>
	<key>472</key>
	<array>
		<string>470</string>
		<string>474</string>
	</array>
	<key>474</key>
	<array>
		<string>472</string>
		<string>476</string>
	</array>
	<key>476</key>
	<array>
		<string>1024</string>
		<string>474</string>
	</array>
	<key>478</key>
	<array>
		<string>1024</string>
		<string>480</string>
	</array>
	<key>480</key>
	<array>
		<string>478</string>
		<string>482</string>
	</array>
	<key>482</key>
	<array>
		<string>480</string>
		<string>484</string>
	</array>
	<key>484</key>
	<array>
		<string>486</string>
		<string>482</string>
	</array>
	<key>486</key>
	<array>
		<string>484</string>
		<string>488</string>
	</array>
	<key>488</key>
	<array>
		<string>486</string>
		<string>490</string>
	</array>
	<key>490</key>
	<array>
		<string>488</string>
		<string>492</string>
	</array>
	<key>492</key>
	<array>
		<string>1029</string>
		<string>490</string>
	</array>
	<key>448</key>
	<array>
		<string>1025</string>
		<string>451</string>
	</array>
	<key>451</key>
	<array>
		<string>448</string>
		<string>450</string>
	</array>
	<key>450</key>
	<array>
		<string>451</string>
		<string>453</string>
	</array>
	<key>453</key>
	<array>
		<string>450</string>
		<string>452</string>
	</array>
	<key>452</key>
	<array>
		<string>453</string>
		<string>455</string>
	</array>
	<key>455</key>
	<array>
		<string>452</string>
		<string>454</string>
	</array>
	<key>454</key>
	<array>
		<string>455</string>
		<string>457</string>
	</array>
	<key>457</key>
	<array>
		<string>1026</string>
		<string>454</string>
	</array>
	<key>458</key>
	<array>
		<string>1026</string>
		<string>460</string>
		<string>461</string>
	</array>
	<key>460</key>
	<array>
		<string>458</string>
		<string>463</string>
		<string>462</string>
		<string>461</string>
	</array>
	<key>461</key>
	<array>
		<string>458</string>
		<string>463</string>
		<string>462</string>
		<string>460</string>
	</array>
	<key>462</key>
	<array>
		<string>463</string>
		<string>1033</string>
		<string>460</string>
		<string>461</string>
	</array>
	<key>463</key>
	<array>
		<string>462</string>
		<string>1033</string>
		<string>460</string>
		<string>461</string>
	</array>
	<key>421</key>
	<array>
		<string>417</string>
		<string>420</string>
	</array>
	<key>420</key>
	<array>
		<string>421</string>
		<string>423</string>
	</array>
	<key>423</key>
	<array>
		<string>420</string>
		<string>422</string>
	</array>
	<key>422</key>
	<array>
		<string>423</string>
		<string>425</string>
		<string>424</string>
	</array>
	<key>425</key>
	<array>
		<string>424</string>
		<string>422</string>
		<string>426</string>
	</array>
	<key>424</key>
	<array>
		<string>425</string>
		<string>422</string>
		<string>426</string>
	</array>
	<key>426</key>
	<array>
		<string>425</string>
		<string>424</string>
		<string>1027</string>
	</array>
	<key>430</key>
	<array>
		<string>1027</string>
		<string>432</string>
	</array>
	<key>432</key>
	<array>
		<string>1028</string>
		<string>430</string>
	</array>
	<key>Auditorium</key>
	<array>
		<string>055</string>
		<string>005</string>
		<string>548</string>
	</array>
	<key>Main Office</key>
	<array>
		<string>020</string>
		<string>021</string>
		<string>801</string>
	</array>
	<key>Library</key>
	<array>
		<string>667</string>
		<string>052</string>
		<string>053</string>
		<string>660</string>
	</array>
	<key>Lyceum</key>
	<array>
		<string>107</string>
		<string>101</string>
		<string>103</string>
	</array>
	<key>Titan Learning Center</key>
	<array>
		<string>665</string>
		<string>053</string>
	</array>
	<key>Main Gym</key>
	<array>
		<string>036</string>
		<string>075</string>
	</array>
	<key>West Gym</key>
	<array>
		<string>714</string>
		<string>049</string>
		<string>742</string>
	</array>
	<key>Fieldhouse</key>
	<array>
		<string>058</string>
		<string>710</string>
		<string>720</string>
	</array>
	<key>Student Activities Center</key>
	<array>
		<string>625</string>
		<string>621</string>
		<string>626</string>
		<string>628</string>
	</array>
	<key>Northwest Cafe</key>
	<array>
		<string>050</string>
		<string>035</string>
		<string>627</string>
	</array>
	<key>Southwest Cafe</key>
	<array>
		<string>007</string>
		<string>628</string>
		<string>051</string>
		<string>625</string>
	</array>
	<key>East Cafe</key>
	<array>
		<string>628</string>
		<string>626</string>
		<string>621</string>
	</array>
</dict>
</plist>
