<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Auditorium</string>
	<string>Makerspace</string>
	<string>Main Office</string>
	<string>Library</string>
	<string>Lyceum</string>
	<string>Titan Learning Center</string>
	<string>Main Gym</string>
	<string>West Gym</string>
	<string>Fieldhouse</string>
	<string>Student Activities Center</string>
	<string>Northwest Cafe</string>
	<string>Southwest Cafe</string>
	<string>East Cafe</string>
</array>
</plist>
